Cloud_NiFi_Flow.json
{"flowContents":{"identifier":"3f776577-d088-3bf8-a93c-30774394bbcf","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[{"identifier":"59a99dcb-eda4-33fc-a19e-647c2e746f71","name":"SDA","comments":"","position":{"x":1288.0,"y":552.0},"processGroups":[{"identifier":"3bbfa8ea-92b1-3268-957a-68accf4360ea","name":"Stockage dans le Cloud Storage & Big Query","comments":"","position":{"x":1336.0,"y":520.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"de2a4a78-eea8-3238-ba57-00b61a94db65","name":"JoltTransformJSON","comments":"","position":{"x":-200.0,"y":24.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.12.1"},"style":{},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","properties":{"jolt-spec":"{\n\t\"nomclient\": \"\",\n\t\"produit\": \"\"\n}","jolt-transform":"jolt-transform-remove","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"3bbfa8ea-92b1-3268-957a-68accf4360ea"},{"identifier":"874c51b3-344e-3c28-9870-a7bc8d4f275b","name":"PutGCSObject","comments":"","position":{"x":592.0,"y":376.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-nar","version":"1.12.1"},"style":{},"type":"org.apache.nifi.processors.gcp.storage.PutGCSObject","properties":{"gcp-proxy-host":null,"gcs-content-disposition-type":null,"gcp-retry-count":"6","proxy-configuration-service":null,"gcs-overwrite-object":"true","gcp-proxy-user-name":null,"gcs-object-md5":null,"gcs-content-type":"${mime.type}","gcs-object-crc32c":null,"gcp-project-id":"dogwood-abacus-332212","GCP Credentials Provider Service":"48ff7335-f2d6-3749-9ab7-9104780227ea","gcs-key":"handle_${now():format('yyyyMMdd_hhmmss')}.json","gcp-proxy-port":null,"gcs-bucket":"sda_cloud_bucket","gcs-object-acl":null},"propertyDescriptors":{"gcp-proxy-host":{"name":"gcp-proxy-host","displayName":"Proxy host","identifiesControllerService":false,"sensitive":false},"gcs-content-disposition-type":{"name":"gcs-content-disposition-type","displayName":"Content Disposition Type","identifiesControllerService":false,"sensitive":false},"gcp-retry-count":{"name":"gcp-retry-count","displayName":"Number of retries","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"gcs-server-side-encryption-key":{"name":"gcs-server-side-encryption-key","displayName":"Server Side Encryption Key","identifiesControllerService":false,"sensitive":true},"gcs-overwrite-object":{"name":"gcs-overwrite-object","displayName":"Overwrite Object","identifiesControllerService":false,"sensitive":false},"gcp-proxy-user-name":{"name":"gcp-proxy-user-name","displayName":"HTTP Proxy Username","identifiesControllerService":false,"sensitive":false},"gcs-object-md5":{"name":"gcs-object-md5","displayName":"MD5 Hash","identifiesControllerService":false,"sensitive":false},"gcs-content-type":{"name":"gcs-content-type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"gcs-object-crc32c":{"name":"gcs-object-crc32c","displayName":"CRC32C Checksum","identifiesControllerService":false,"sensitive":false},"gcp-project-id":{"name":"gcp-project-id","displayName":"Project ID","identifiesControllerService":false,"sensitive":false},"GCP Credentials Provider Service":{"name":"GCP Credentials Provider Service","displayName":"GCP Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"gcs-key":{"name":"gcs-key","displayName":"Key","identifiesControllerService":false,"sensitive":false},"gcp-proxy-user-password":{"name":"gcp-proxy-user-password","displayName":"HTTP Proxy Password","identifiesControllerService":false,"sensitive":true},"gcp-proxy-port":{"name":"gcp-proxy-port","displayName":"Proxy port","identifiesControllerService":false,"sensitive":false},"gcs-bucket":{"name":"gcs-bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"gcs-object-acl":{"name":"gcs-object-acl","displayName":"Object ACL","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"10 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"3bbfa8ea-92b1-3268-957a-68accf4360ea"},{"identifier":"76f13d66-e6ee-35a9-a2d5-a3344faf9120","name":"PutBigQueryStreaming","comments":"","position":{"x":-200.0,"y":384.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-nar","version":"1.12.1"},"style":{},"type":"org.apache.nifi.processors.gcp.bigquery.PutBigQueryStreaming","properties":{"GCP Credentials Provider Service":"91108f66-41f5-3942-b140-52118d4b1fab","bq.skip.invalid.rows":"false","gcp-proxy-host":null,"bq.table.name":"tablestreaming","gcp-retry-count":"6","proxy-configuration-service":null,"bq.dataset":"sda2022","bq.record.reader":"74ed908f-2f26-3b2d-b055-73c527e062de","gcp-proxy-user-name":null,"gcp-proxy-port":null,"bq.load.ignore_unknown":"false","gcp-project-id":"dogwood-abacus-332212"},"propertyDescriptors":{"gcp-proxy-host":{"name":"gcp-proxy-host","displayName":"Proxy host","identifiesControllerService":false,"sensitive":false},"bq.table.name":{"name":"bq.table.name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"gcp-retry-count":{"name":"gcp-retry-count","displayName":"Number of retries","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"gcp-proxy-user-name":{"name":"gcp-proxy-user-name","displayName":"HTTP Proxy Username","identifiesControllerService":false,"sensitive":false},"bq.load.ignore_unknown":{"name":"bq.load.ignore_unknown","displayName":"Ignore Unknown Values","identifiesControllerService":false,"sensitive":false},"gcp-project-id":{"name":"gcp-project-id","displayName":"Project ID","identifiesControllerService":false,"sensitive":false},"GCP Credentials Provider Service":{"name":"GCP Credentials Provider Service","displayName":"GCP Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"bq.skip.invalid.rows":{"name":"bq.skip.invalid.rows","displayName":"Skip Invalid Rows","identifiesControllerService":false,"sensitive":false},"gcp-proxy-user-password":{"name":"gcp-proxy-user-password","displayName":"HTTP Proxy Password","identifiesControllerService":false,"sensitive":true},"bq.dataset":{"name":"bq.dataset","displayName":"Dataset","identifiesControllerService":false,"sensitive":false},"bq.record.reader":{"name":"bq.record.reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"gcp-proxy-port":{"name":"gcp-proxy-port","displayName":"Proxy port","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"10 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"3bbfa8ea-92b1-3268-957a-68accf4360ea"},{"identifier":"b6b14a95-4305-37de-9dc4-cdfc7ebcc359","name":"MergeContent","comments":"","position":{"x":584.0,"y":8.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.12.1"},"style":{},"type":"org.apache.nifi.processors.standard.MergeContent","properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","Compression Level":"1","Maximum Number of Entries":"2","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Text","Merge Format":"Binary Concatenation","Footer File":null,"Max Bin Age":null,"Demarcator File":"${literal('&#10;'):unescapeXml()}","Correlation Attribute Name":null,"Header File":null,"mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"1"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"3bbfa8ea-92b1-3268-957a-68accf4360ea"}],"inputPorts":[{"identifier":"3960e778-d551-3ddf-a82d-f1bb4784a926","name":"iReceptionKafkaMessages","comments":"","position":{"x":256.0,"y":-200.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"3bbfa8ea-92b1-3268-957a-68accf4360ea"}],"outputPorts":[],"connections":[{"identifier":"25ecc8e7-d1ac-3006-8cbc-9c11c31da22d","name":"","source":{"id":"874c51b3-344e-3c28-9870-a7bc8d4f275b","type":"PROCESSOR","groupId":"3bbfa8ea-92b1-3268-957a-68accf4360ea","name":"PutGCSObject","comments":""},"destination":{"id":"874c51b3-344e-3c28-9870-a7bc8d4f275b","type":"PROCESSOR","groupId":"3bbfa8ea-92b1-3268-957a-68accf4360ea","name":"PutGCSObject","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1049.580512046814,"y":415.9637756347656},{"x":1049.580512046814,"y":465.9637756347656}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3bbfa8ea-92b1-3268-957a-68accf4360ea"},{"identifier":"d9324426-6f4b-3eed-8379-498ce6a2e56a","name":"","source":{"id":"b6b14a95-4305-37de-9dc4-cdfc7ebcc359","type":"PROCESSOR","groupId":"3bbfa8ea-92b1-3268-957a-68accf4360ea","name":"MergeContent","comments":""},"destination":{"id":"b6b14a95-4305-37de-9dc4-cdfc7ebcc359","type":"PROCESSOR","groupId":"3bbfa8ea-92b1-3268-957a-68accf4360ea","name":"MergeContent","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1057.2939453125,"y":53.29194450378418},{"x":1057.2939453125,"y":103.29194450378418}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3bbfa8ea-92b1-3268-957a-68accf4360ea"},{"identifier":"9ddc04a4-7e35-3a4e-bb96-4fa19702616c","name":"","source":{"id":"de2a4a78-eea8-3238-ba57-00b61a94db65","type":"PROCESSOR","groupId":"3bbfa8ea-92b1-3268-957a-68accf4360ea","name":"JoltTransformJSON","comments":""},"destination":{"id":"de2a4a78-eea8-3238-ba57-00b61a94db65","type":"PROCESSOR","groupId":"3bbfa8ea-92b1-3268-957a-68accf4360ea","name":"JoltTransformJSON","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":269.0,"y":63.0},{"x":269.0,"y":113.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3bbfa8ea-92b1-3268-957a-68accf4360ea"},{"identifier":"031bc2a7-cec8-31d3-90da-60f53e620f30","name":"","source":{"id":"3960e778-d551-3ddf-a82d-f1bb4784a926","type":"INPUT_PORT","groupId":"3bbfa8ea-92b1-3268-957a-68accf4360ea","name":"iReceptionKafkaMessages","comments":""},"destination":{"id":"b6b14a95-4305-37de-9dc4-cdfc7ebcc359","type":"PROCESSOR","groupId":"3bbfa8ea-92b1-3268-957a-68accf4360ea","name":"MergeContent","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3bbfa8ea-92b1-3268-957a-68accf4360ea"},{"identifier":"320a3fa0-2a3e-3255-b458-d821d0ee7f17","name":"","source":{"id":"76f13d66-e6ee-35a9-a2d5-a3344faf9120","type":"PROCESSOR","groupId":"3bbfa8ea-92b1-3268-957a-68accf4360ea","name":"PutBigQueryStreaming","comments":""},"destination":{"id":"76f13d66-e6ee-35a9-a2d5-a3344faf9120","type":"PROCESSOR","groupId":"3bbfa8ea-92b1-3268-957a-68accf4360ea","name":"PutBigQueryStreaming","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":263.2798843383789,"y":424.3637390136719},{"x":263.2798843383789,"y":474.3637390136719}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3bbfa8ea-92b1-3268-957a-68accf4360ea"},{"identifier":"464c3048-f429-3be8-903c-3f58af9d9ec3","name":"","source":{"id":"3960e778-d551-3ddf-a82d-f1bb4784a926","type":"INPUT_PORT","groupId":"3bbfa8ea-92b1-3268-957a-68accf4360ea","name":"iReceptionKafkaMessages","comments":""},"destination":{"id":"de2a4a78-eea8-3238-ba57-00b61a94db65","type":"PROCESSOR","groupId":"3bbfa8ea-92b1-3268-957a-68accf4360ea","name":"JoltTransformJSON","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3bbfa8ea-92b1-3268-957a-68accf4360ea"},{"identifier":"55c11153-a861-3ad3-a43c-4de5c4d15b23","name":"","source":{"id":"de2a4a78-eea8-3238-ba57-00b61a94db65","type":"PROCESSOR","groupId":"3bbfa8ea-92b1-3268-957a-68accf4360ea","name":"JoltTransformJSON","comments":""},"destination":{"id":"76f13d66-e6ee-35a9-a2d5-a3344faf9120","type":"PROCESSOR","groupId":"3bbfa8ea-92b1-3268-957a-68accf4360ea","name":"PutBigQueryStreaming","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3bbfa8ea-92b1-3268-957a-68accf4360ea"},{"identifier":"468b4b47-b4a6-39b4-a182-d804b5f272d3","name":"","source":{"id":"b6b14a95-4305-37de-9dc4-cdfc7ebcc359","type":"PROCESSOR","groupId":"3bbfa8ea-92b1-3268-957a-68accf4360ea","name":"MergeContent","comments":""},"destination":{"id":"874c51b3-344e-3c28-9870-a7bc8d4f275b","type":"PROCESSOR","groupId":"3bbfa8ea-92b1-3268-957a-68accf4360ea","name":"PutGCSObject","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3bbfa8ea-92b1-3268-957a-68accf4360ea"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"74ed908f-2f26-3b2d-b055-73c527e062de","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.12.1"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.12.1"}}],"properties":{"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-branch":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"3bbfa8ea-92b1-3268-957a-68accf4360ea"},{"identifier":"48ff7335-f2d6-3749-9ab7-9104780227ea","name":"GCPCredentialsControllerService","comments":"","type":"org.apache.nifi.processors.gcp.credentials.service.GCPCredentialsControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-nar","version":"1.12.1"},"controllerServiceApis":[{"type":"org.apache.nifi.gcp.credentials.service.GCPCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-services-api-nar","version":"1.12.1"}}],"properties":{"proxy-configuration-service":null,"compute-engine-credentials":"false","application-default-credentials":"false","service-account-json-file":"/appli/nifi/gcp/sda_key_GCP.json"},"propertyDescriptors":{"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"compute-engine-credentials":{"name":"compute-engine-credentials","displayName":"Use Compute Engine Credentials","identifiesControllerService":false,"sensitive":false},"application-default-credentials":{"name":"application-default-credentials","displayName":"Use Application Default Credentials","identifiesControllerService":false,"sensitive":false},"service-account-json-file":{"name":"service-account-json-file","displayName":"Service Account JSON File","identifiesControllerService":false,"sensitive":false},"service-account-json":{"name":"service-account-json","displayName":"Service Account JSON","identifiesControllerService":false,"sensitive":true}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"3bbfa8ea-92b1-3268-957a-68accf4360ea"},{"identifier":"91108f66-41f5-3942-b140-52118d4b1fab","name":"GCPCredentialsControllerServiceBigQuery","comments":"","type":"org.apache.nifi.processors.gcp.credentials.service.GCPCredentialsControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-nar","version":"1.12.1"},"controllerServiceApis":[{"type":"org.apache.nifi.gcp.credentials.service.GCPCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-services-api-nar","version":"1.12.1"}}],"properties":{"proxy-configuration-service":null,"compute-engine-credentials":"false","application-default-credentials":"false","service-account-json-file":"/appli/nifi/gcp/sda_key_GCP_BigQuery.json"},"propertyDescriptors":{"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"compute-engine-credentials":{"name":"compute-engine-credentials","displayName":"Use Compute Engine Credentials","identifiesControllerService":false,"sensitive":false},"application-default-credentials":{"name":"application-default-credentials","displayName":"Use Application Default Credentials","identifiesControllerService":false,"sensitive":false},"service-account-json-file":{"name":"service-account-json-file","displayName":"Service Account JSON File","identifiesControllerService":false,"sensitive":false},"service-account-json":{"name":"service-account-json","displayName":"Service Account JSON","identifiesControllerService":false,"sensitive":true}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"3bbfa8ea-92b1-3268-957a-68accf4360ea"}],"variables":{},"componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"59a99dcb-eda4-33fc-a19e-647c2e746f71"}],"remoteProcessGroups":[],"processors":[{"identifier":"75cefc43-5ffa-3645-adcc-cb946101c374","name":"ConsumeKafka_2_6","comments":"","position":{"x":1352.0,"y":56.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.12.1"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_2_6","properties":{"header-name-regex":null,"sasl.username":null,"max.poll.records":"10000","group.id":"cloud","bootstrap.servers":"20.126.103.217:9092","topic_type":"names","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"security.protocol":"PLAINTEXT","kerberos-credentials-service":null,"ssl.context.service":null,"max-uncommit-offset-wait":"1 secs","sasl.mechanism":"GSSAPI","sasl.token.auth":"false","sasl.kerberos.keytab":null,"honor-transactions":"true","Communications Timeout":"60 secs","topic":"ismael_boumedien_streaming","message-header-encoding":"UTF-8","message-demarcator":null,"key-attribute-encoding":"utf-8","auto.offset.reset":"latest"},"propertyDescriptors":{"header-name-regex":{"name":"header-name-regex","displayName":"Headers to Add as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false},"group.id":{"name":"group.id","displayName":"Group ID","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"topic_type":{"name":"topic_type","displayName":"Topic Name Format","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max-uncommit-offset-wait":{"name":"max-uncommit-offset-wait","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"honor-transactions":{"name":"honor-transactions","displayName":"Honor Transactions","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name(s)","identifiesControllerService":false,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Offset Reset","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"10 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"59a99dcb-eda4-33fc-a19e-647c2e746f71"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"6c40693f-25ea-3064-ba0a-05335b5e82c8","name":"","source":{"id":"75cefc43-5ffa-3645-adcc-cb946101c374","type":"PROCESSOR","groupId":"59a99dcb-eda4-33fc-a19e-647c2e746f71","name":"ConsumeKafka_2_6","comments":""},"destination":{"id":"3960e778-d551-3ddf-a82d-f1bb4784a926","type":"INPUT_PORT","groupId":"3bbfa8ea-92b1-3268-957a-68accf4360ea","name":"iReceptionKafkaMessages","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"59a99dcb-eda4-33fc-a19e-647c2e746f71"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"4e715f9c-dd5d-3ec7-b5cf-f43cf932fc5b","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.12.1"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.12.1"}}],"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"59a99dcb-eda4-33fc-a19e-647c2e746f71"},{"identifier":"84d2b497-dba5-313d-8c51-6b191016d1e4","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.12.1"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.12.1"}}],"properties":{"ignore-csv-header":"false","schema-branch":null,"CSV Format":"custom","Quote Character":"\"","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"59a99dcb-eda4-33fc-a19e-647c2e746f71"},{"identifier":"f97c1121-fcb0-3f57-8647-7209a6c75a72","name":"JsonPathReader","comments":"","type":"org.apache.nifi.json.JsonPathReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.12.1"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.12.1"}}],"properties":{"Timestamp Format":null,"Date Format":null,"schema-branch":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"59a99dcb-eda4-33fc-a19e-647c2e746f71"}],"variables":{},"componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"3f776577-d088-3bf8-a93c-30774394bbcf"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}